*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
    width: 100%;
    height: 100%;
} 
.container{
    max-width: 70%;
    /* background-color: rgb(94, 137, 174); */
    padding: 28px;
    margin: auto;
    /* border: 2px solid black;
    border-radius: 7px; */
}
.container h1{
    font-family: 'Salsa', cursive;
    text-align: center;
    font-size: 35px;
}
#city{
    font-size: 16px;
    width: 60%;
    margin: 10px 0px;
    padding: 6px;
    border: 2px solid black;
    border-radius: 7px;
}
#gender{
    font-size: 16px;
    width: 60%;
    margin: 10px 0px;
    padding: 6px;
    border: 2px solid black;
    border-radius: 7px;
}
#members{
    font-size: 16px;
    width: 60%;
    margin: 10px 0px;
    padding: 6px;
    border: 2px solid black;
    border-radius: 7px;
}
label{
    font-family: 'Salsa', cursive;
}

p{
    font-family: 'Salsa', cursive;
    font-size: 17px;
    text-align: center;
}
input{
    font-size: 16px;
    width: 60%;
    margin: 10px 0px;
    padding: 6px;
    border: 2px solid black;
    border-radius: 7px;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.btn{
    color: white;
    background-color: rgb(143, 167, 226);
    padding: 8px 12px;
    font-size: 20px;
    color: black;
    border: 2px solid black;
    border-radius: 7px;
    cursor: pointer;
}
.submitmsg{
    font-family: 'Salsa', cursive;
    font-size: 18px;
    color: green;
}
